.form {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.input {
    font-size: inherit;
    height: 30px;
    width: 350px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}

.button {
    font-size: inherit;
    border: 1px solid #000;
    border-radius: 5px;
    height: 30px;
    width: 120px;
}